<%- include("./layouts/header"); -%>
    <div class="card text-center">
        <h4 class="card-title">We will send you another mail After some time.</h4>
    </div>
    <%- include("./layouts/footer"); -%>