<%- include("./layouts/header"); -%>

    <div class="card text-center">
        <% if(mail_verify==true){ %>
            <h1>We have sent an mail to you.
                <br>please verify it.
            </h1>
            <% } else{ %>
                <h1> please go and first verify your mail.
                </h1>
                <% } %>
    </div>
    <%- include("./layouts/footer"); -%>