<%- include("./layouts/header"); -%>

    <div class="card">
        <div class="card-inside mx-3 mt-3">
            <h5>
                Here after clicking on
                <span style="color: salmon">Get your partner</span>
                you will get your opponent mail.
            </h5>
            <hr />
            <h5>
                After getting mail just click on send mail button this will be redirected
                to your Mail with your opponent user.
            </h5>
            <hr />
            <h5>
                Here we are given you predescribe message just send him/her.Then wait for
                reply.
            </h5>
            <hr />
            <h5>After getting reply ask your opponent to schedule a meet.</h5>
            <hr />
            <h5>If you enjoyed the session then ask him/her for contact number.</h5>
            <hr />
            <h5>
                Next do your job.
            </h5>

            <hr />
            <h5>
                In case you failed <span>You can request us to change your partner.</span>
            </h5>
            <div class="button mt-4">
                <a href="/partner/getother" class="btn btn-success mb-3" id="btn">
                    Get your partner</a>
            </div>
        </div>
        <div class="select">
            <a class="text-primary anc__partenerChange" href="/partner/changepartner">Do you want to change your partner?</a>
        </div>
    </div>
    <%- include("./layouts/footer"); -%>